@font-face {
    font-family: 'font';
    src: url('../public/font.otf');
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  #web2{
    width: 100%;
    height: 100%;
    background-color: green;
  
  }
  #main2{
    width: 100%;
    height: 100%;
display: flex;
justify-content: center;
align-items: center;
    font-family: 'font';
    animation: gradientAnimation 10s ease infinite;
    background: linear-gradient(45deg, #d99008, #FFCC80, #FFFFFF); /* Initial gradient */
      background-size: 300% 300%; 
  }
  @keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; /* Start position */
    }
    50% {
        background-position: 100% 50%; /* Midpoint position */
    }
    100% {
        background-position: 0% 50%; /* End position */
    }
  }

h4{
    font-size: 10vh;
    color: black;
}